<div class="app-container">
  <header class="app-header">
    <div class="header-center">
      <div class="logo-icon">&lt;/&gt;</div>
      <div class="header-titles">
        <h1>Motor Migración</h1>
        <p>Traductor de código Legacy</p>
      </div>
    </div>
  </header>

  <div class="toolbar" style="margin-left: 16px">
    <button class="btn btn-primary" (click)="traducir()">
      Traducir Código
    </button>
    <button class="btn btn-primary" (click)="limpiar()">Limpiar</button>
  </div>

  <main class="editors-container">
    <app-loader></app-loader>
    <div class="editor-card" style="gap: 0px">
      <div class="editor-header">
        <span>Código Origen</span>
        <select
          class="lang-badge-select"
          [(ngModel)]="sourceLanguage"
          (change)="onSourceChange()"
        >
          <option value="COBOL">COBOL</option>
          <option value="DELPHI">DELPHI</option>
        </select>
      </div>
      <div class="editor-body">
        <ngx-monaco-editor
          [options]="editorOptionsCobol"
          [(ngModel)]="legacyCode"
        ></ngx-monaco-editor>
      </div>
    </div>

    <div class="editor-card">
      <div class="editor-header">
        <span>Código Destino</span>
        <select
          class="lang-badge-select"
          [(ngModel)]="targetLanguage"
          (change)="onTargetChange()"
        >
          <option value="JAVA">JAVA</option>
          <option disabled value="PYTHON">PYTHON</option>
          <option disabled value="CSHARP">C#</option>
        </select>
      </div>
      <div class="editor-body">
        <ngx-monaco-editor
          [options]="editorOptionsJava"
          [(ngModel)]="targetCode"
        ></ngx-monaco-editor>
      </div>
    </div>
  </main>
  @if (appliedRules.length > 0 || warnings.length > 0) {
    <section class="migration-info" style="margin-left:16px">
      <div class="audit-console">
        <div class="console-header">
          <span>Terminal de Auditoría y Trazabilidad</span>
        </div>

        <div class="console-body">
          <div class="log-line log-info">
            <span class="timestamp">[INFO]</span> Correlation ID: {{ correlationId }}
            status: {{ status }} - Tiempo de Ejecución: {{ executionTimeMs }} ms
          </div>

          @for (rule of appliedRules; track $index) {
            <div class="log-line log-success">
              <span class="timestamp">[AST-RULE]</span> {{ rule }}
            </div>
          }

          @for (warning of warnings; track $index) {
            <div class="log-line log-warning">
              <span class="timestamp">[WARNING]</span> {{ warning }}
            </div>
          }

        </div>
      </div>
    </section>
  }
  <footer class="app-footer">Motor de migración - Banco de Bogotá</footer>
</div>
