@use '../styles/variables' as *;
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: $bg-light;
}

.app-header {
  background-color: $primary-blue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;

  .header-center {
    display: flex;
    align-items: center;
    gap: 16px;

    .logo-icon {
      background-color: $secundary-blue;
      color: #000;
      font-weight: 800;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.1rem;
    }

    .header-titles {
      h1 { margin: 0; font-size: 1.25rem; font-weight: 700; }
      p { margin: 0; font-size: 0.85rem; color: #b3c6e6; margin-top: 2px;}
    }
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px 0px;

  .btn {
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 0.95rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    transition: all 0.2s ease-in-out;
  }

  .btn-outline {
    background: white;
    border: 1px solid #ccc;
    color: #555;
    &:hover { background: #f5f5f5; }
  }

  .btn-primary {
    background-color: $button-background;
    color: $label-color;
    border: 1px solid $label-color;
    &:hover { background-color: darken($secundary-blue, 5%); }
  }
}

.editors-container {
  display: flex;
  flex: 1;
  gap: 16px;
  padding: 5px 24px 20px;;
  overflow: hidden;

  .editor-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $editor-bg;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);


    .editor-header {
      background-color: darken($primary-blue, 3%);
      color: white;
      padding: 10px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.95rem;
      font-weight: 600;

      .lang-badge {
        font-size: 0.65rem;
        color: #a0b8e0;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
      }
      .lang-badge-select {
        font-size: 0.65rem;
        color: #a0b8e0;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        background-color: transparent;
        border: 1px solid rgba(160, 184, 224, 0.3);
        border-radius: 4px;
        padding: 4px 24px 4px 8px;
        cursor: pointer;
        outline: none;

        transition: all 0.2s ease;

        &:hover {
          border-color: #a0b8e0;
          color: white;
        }

        option {
          background-color: $primary-blue;
          color: #a0b8e0;
          font-weight: 600;
          border-radius: 2%;

        }
      }
    }

    .editor-body {
      flex: 1;
      position: relative; /* Clave para que Monaco se adapte */

      ngx-monaco-editor {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.app-footer {
  background-color: darken($primary-blue, 5%);
  color: #a0b8e0;
  text-align: center;
  padding: 8px;
  font-size: 0.75rem;
}

ngx-monaco-editor {
  display: block;
  height: 100%;
  width: 100%;
}
