/* Variables de color */
$primary-blue: #00388b; // Azul corporativo
$accent-yellow: #ffc700; // Amarillo de acción
$bg-light: #f4f6f8; // Fondo gris claro de la pantalla
$border-color: #e0e0e0;
$editor-bg: #1e1e1e; // Fondo oscuro para coincidir con Monaco
$secundary-blue: #6a9dd8; // Azul secundario para elementos destacados
$label-color: #0043a9;

$button-background: #fff;
