@use '../../../styles/variables' as *;

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(30, 30, 30, 0.85);
  backdrop-filter: blur(2px);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #a0b8e0;
  font-weight: 600;

  p {
    margin-top: 20px;
    font-size: 0.95rem;
    animation: pulseText 1.5s infinite;
  }
}

@keyframes pulseText {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.loader {
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%, $primary-blue 80%),
    radial-gradient(var(--r1) var(--r2) at bottom, $primary-blue 79.5%,#0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%, $primary-blue 80%),
    #2d2d30;
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat: no-repeat;
  animation: l9 2s infinite linear;
}

@keyframes l9 {
  33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
  66%  {background-position: -100%  66%,0%   66% ,100% 66% }
  100% {background-position:    0% 100%,100% 100%,200% 100%}
}
